.why-us-container {
  width: 100%;
  height: 100%;
  color: white;
  background-color: #f2f2f2;
  position: relative;
  z-index: 10;
}
.why-us-wrapper {
  position: relative;
  margin: 4%;
  background-color: #cfcfcf;
  border-radius: 101px;
}
.why-us-content {
  display: flex;
  flex-direction: column;
  gap: 0px;
  padding-bottom: 3%;
}
.why-us-sub-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 5%;
  padding: 3% 0;
  gap: 30px;
}
.why-us-card {
  width: 504px;
  height: 305px;
  perspective: 1000px;
}

.why-us-sub-inner {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d; /* Enable 3D transformations */
  transition: transform 1s; /* Smooth flipping transition */
}
.why-us-sub-inner .front,
.why-us-sub-inner .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Hide the back face when flipped */
  -webkit-backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  gap: 20px;
  font-size: 1.875rem;
  border-radius: 50px;
}
.why-us-card:hover .why-us-sub-inner {
  transform: rotateY(180deg);
}
.why-us-sub-inner .front img {
  margin-left: 10%;
}
.why-us-sub-inner .back span {
  margin: 5%;
}
.why-us-sub-inner .back {
  z-index: 10;
  transform: rotateY(180deg); /* Default front face rotation */
  text-align: center;
}

.why-us-content-heading {
  font-size: 3.5rem;
  margin: 0 5%;
}

.why-us-heading {
  display: flex;
  align-items: center;
  top: 0;
  font-size: 4rem;
  text-align: left;
  padding: 5% 5% 0;
  color: black;
}
.why-us-heading-left {
  display: flex;
  flex-direction: column;
}
.why-us-heading-left {
  font-size: 5rem;
  color: #10343d;
}
.why-us-heading-left :nth-child(1) {
  font-size: 5.375rem;
  color: black;
  padding-bottom: 1%;
}

.content-blue {
  background-color: #1db4bd;
  color: white;
}
.content-white {
  background-color: white;
  color: black;
}
.content-black {
  background-color: black;
  color: white;
}

@media (max-width: 500px) {
  .why-us-heading-left :nth-child(1) {
    font-size: 1rem;
  }
  .why-us-heading-left {
    font-size: 0.75rem;
  }
  .why-us-sub-content {
    flex-direction: column;
    align-items: center;
  }
  .why-us-card {
    width: 285px;
    height: 143px;
  }
  .why-us-sub-inner .front,
  .why-us-sub-inner .back {
    font-size: 0.75rem;
  }
  .why-us-heading {
    padding: 15% 15% 0;
  }
  .why-us-content {
    padding: 0 10%;
  }
  .why-us-wrapper {
    padding-bottom: 10%;
  }
  .why-us-container img {
    max-width: 20px;
  }
}
