.strokeme-text {
  color: black;
  text-shadow: 2px 2px 0 white, -2px 2px 0 white, 2px -2px 0 white,
    -2px -2px 0 white, 2px 0px 0 white, -2px 0px 0 white, 0px 2px 0 white,
    0px -2px 0 white; /* Simulates a white stroke around the text */
}
.non-strokeme-text {
  color: white;
}
.marquee-text {
  text-transform: uppercase;
  top: -400px;
  position: relative;
  width: 150vw;
  transform-origin: center;
  margin-bottom: 0px;
  opacity: 0.2;
}

.marquee-text p {
  padding: 0px 10px;
  font-size: 3rem;
  font-weight: 700;
}
